/*--------------------------------------------------------------
# Sliding Text One
--------------------------------------------------------------*/
.sliding-text-one {
    position: relative;
    display: block;
    background-color: var(--itzone-base);
    padding: 16px 0 16px;
    z-index: 2;
}

.sliding-text-one__wrap {
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.sliding-text-one__track {
    display: flex;
    width: max-content;
    animation: sliding-text-animation 60s linear infinite;
}

.sliding-text-one__track:hover {
    animation-play-state: paused;
}

.sliding-text-one__list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
}

.sliding-text-one__list li {
    position: relative;
    display: flex;
    align-items: center;
}

.sliding-text-one__title {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--itzone-white);
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    font-family: var(--itzone-font-two);
    font-style: normal;
    text-transform: uppercase;
    margin-left: 25px;
    margin-right: 25px;
    transition: all 0.3s ease;
}

.sliding-text-one__list li span {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: var(--itzone-white);
}

@keyframes sliding-text-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}