@import "tailwindcss";

body {
    overflow-x: hidden;
}

.thm-breadcrumb {
    margin-top: 10px;
}

.stricky-header.stricked-menu {
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
}

.transition-all {
    transition: all 0.3s ease-in-out;
}

.hover-translate-y:hover {
    transform: translateY(-10px);
}

.hover-primary:hover {
    color: var(--itzone-base) !important;
}

.transition-transform {
    transition: transform 0.3s ease;
}

.blog-one__single:hover .transition-transform {
    transform: translateX(5px);
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-one__img {
    overflow: hidden;
}

.blog-one__img img {
    transition: transform 0.5s ease;
}

.blog-one__single:hover .blog-one__img img {
    transform: scale(1.1);
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-one__tags {
    position: absolute;
    top: 15px;
    right: 15px;
    left: auto;
    bottom: auto;
    display: flex;
    gap: 5px;
    z-index: 10;
}

.blog-one__title {
    min-height: 3.5rem; /* Ensure consistent heading space */
}

.owl-carousel .owl-stage-outer {
    overflow: hidden;
}

.sliding-text-one {
    overflow: hidden;
}